@import "./utils/variables";
@import "./base/normalize";
@import "./base/global";
@import "./components/page-on-all-sections";
@import "./layout/page-header";
@import "./components/page-hero";
@import "./utils/visually-hidden";
@import "./components/page_studia_section_1";
@import "./components/page_studia_section_2";
@import "./components/page_studia_section_3";
@import "./components/page_studia_section_4";
@import "./components/page_studia_modal";
@import "./components/page_portfolio_filtr";
@import "./components/page_portfolio_cards";
@import "./layout/page-footer";
