/* --- загальні на всі секції --- */
.section-withoutname {
    @media screen and (min-width: $tablet) {
        padding-top: 60px;
        padding-bottom: 60px;  
    }
    @media screen and (min-width: $desktop) {
        padding-top: 94px;
        padding-bottom: 0px;   
    }
}
.section {
    @media screen and (max-width: 767px) {
        padding: 60px 0;  
    }
    @media screen and (min-width: $tablet) {
        padding: 60px 0;  
    }
    @media screen and (min-width: $desktop) {
        padding: 94px 0;  
    }

    &.mobile-hidden {
        @media screen and (max-width: 1199px) {
            padding: 0px;    
        }
        @media screen and (min-width: 1200px) {
            padding: 94px 0;    
        }
    }
}


.section-color {
    background-color: $secondary-color-bg;
}
.section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-color-text;
    margin-bottom: 50px;
    margin-top: 0;
    padding: 0;
}
.position-list {
    
    @media screen and (min-width: $mobile) {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media screen and (min-width: $tablet) {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media screen and (min-width: $desktop) {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.position-list.mobile-hidden {
    @media screen and (max-width: 1199px) {
        display: none;
        padding: 0;
    }
}

.section-title.mobile-hidden {
    @media screen and (max-width: 1199px) {
        position: absolute;
        white-space: nowrap;
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
        clip: rect(0 0 0 0);
        padding: 0;
        margin: -1px;
        clip-path: inset(50%);
    }
}