/* --- стилі Списка карточок --- */
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &-item {
        flex-basis: calc((100% - 60px) / 3);

        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    &-box__link {
        display: block;
        position: relative;
    
        transition-property: box-shadow;
        transition-duration: $time-250;
        transition-timing-function: $transition-bezier;

        &:hover, &:focus {
            box-shadow: $shadow-portfolio-card;

            .products-box__text {
                content: '';
                transform: translateY(0%);
            }
        }
    }
    &-box {
        &__thumb {
            display: block;
            position: relative;
            overflow: hidden;
        }
        &__text {
            display: block;
            position: absolute;
            background-color: $hover-overlay-blue;
            width: 370px;
            height: 294px;
            font-size: 18px;
            line-height: 1.56;
            letter-spacing: 0.03em;
            color: $main-color-bg;
            padding: 63px 24px;
        
            transform: translateY(100%);
            transition-property: transform;
            transition-duration: $time-250;
            transition-timing-function: $transition-bezier;
        }
        &__name {
            padding: 20px 24px;
            border-left: 1px solid $work-list;
            border-bottom: 1px solid $work-list;
            border-right: 1px solid $work-list;
        }
        &__title {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
            color: $main-color-text;
            margin-bottom: 4px;
        }
        &__subtitle {
            font-style: normal;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.03em;
            color: $secondary-color-text;
        }
    } 
} 
