/* --- загальні на всі секції --- */
.section-withoutname {
    padding-top: 94px;
}
.section {
    padding: 94px 0;
}
.section.mobile-hidden {
    @media screen and (max-width: 1199px) {
        padding: 30px 0;
    }
}

.section-color {
    background-color: $secondary-color-bg;
}
.section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-color-text;
    margin-bottom: 50px;
    margin-top: 0;
    padding: 0;
}
.position-list {
    display: flex;
    gap: 30px;

    @media screen and (min-width: $tablet) {
        flex-wrap: wrap;
    }
}
.position-list.mobile-hidden {
    @media screen and (max-width: 1199px) {
        display: none;
    }
}
.section-title.mobile-hidden {
    @media screen and (max-width: 1199px) {
        position: absolute;
        white-space: nowrap;
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
        clip: rect(0 0 0 0);
        padding: 0;
        margin: -1px;
        clip-path: inset(50%);
    }
}