/* --- стилі Фільтра --- */
.filtr {
    display: flex;
    gap: 8px;

    @media screen and (min-width: $mobile), (max-width: $mobile) {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 40px;
        row-gap: 15px;
    }
    @media screen and (min-width: $tablet) {
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 30px;
        row-gap: 0;
    }
    @media screen and (min-width: $tablet) {
        margin-bottom: 50px;
    }

    &__button {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        background-color: $secondary-color-bg;
        color: $main-color-text;
        padding: 6px 22px;
    
        transition-property: color, background-color, box-shadow;
        transition-duration: $time-250;
        transition-timing-function: $transition-bezier;

        &:hover, &:focus {
            background-color: $primary-color-text;
            color: $footer-color-text;
            box-shadow: $shadow-filtr-button;
        }
    }
}

.filtr__button {
    font-family: inherit;
    cursor: pointer;
    border: transparent;
    border-radius: 4px;
}