// visually-hidden
.advantages {

    &-box {
        
        background-color: $secondary-color-bg;
        height: 120px;
        border-radius: 4px;
        margin-bottom: 30px;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: $mobile) {
           display: block;
            margin-right: auto;
            margin-left: auto;
            width: 450px;
        }
        @media screen and (min-width: $tablet) {
            display: flex;
            margin-right: auto;
            margin-left: auto;
            width: 354px;
        }
        @media screen and (min-width: $desktop) {
            display: flex;
            margin-right: auto;
            margin-left: auto;
            width: 270px;
        }
    }
    &-title {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $main-color-text;
        padding: 0;
        margin-top: 0;
        margin-bottom: 10px;

        @media screen and (min-width: $mobile) {
            
        }
    }    
    &-paragraph {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $secondary-color-text;

        @media screen and (min-width: $mobile) {
            margin-right: auto;
            margin-left: auto;    
        }
        @media screen and (min-width: $tablet) {
            margin-right: auto;
            margin-left: auto; 
            max-width: 354px;   
        }
        @media screen and (min-width: $desktop) {
            margin-right: auto;
            margin-left: auto; 
            max-width: 270px;   
        }
    }
}
