/* --- секція 4 --- */
.client {
    &__link {
        border: 1px solid $border-client;
        border-radius: 4px;
        height: 92px;
        fill: $border-client;
        justify-content: center;
        align-items: center;
    
        transition-property: border-color, fill;
        transition-duration: $time-250;
        transition-timing-function: $transition-bezier;

        &:hover, &:focus {
            border-color: $primary-color-text;
            fill: $primary-color-text;
        }
        
        @media screen and (max-width: 767px) {
            display: none;
        }
        @media screen and (min-width: $tablet) {
            display: flex;
            min-width: 226px;
        }
        @media screen and (min-width: $desktop) {
            min-width: 170px;
        }
    }
    &__logo {
        color: currentColor;
    }
}