html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $main-color-bg;
    color: $secondary-color-text;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul, ol { 
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.hero-button,
.filtr__button {
    font-family: inherit;
    cursor: pointer;
    border: transparent;
    border-radius: 4px;
}