/* --- змінні --- */
$primary-color-text: #2196F3;
$main-color-text: #212121;
$secondary-color-text: #757575;
$logo-color-text: #000000;
$footer-color-text: #FFFFFF;
$main-color-bg: #FFFFFF;
$secondary-color-bg: #F5F4FA;
$footer-color-bg: #2F303A;
$active-button: #188CE8;
$card-border-color: #EEEEEE;
$kontakty-footer: rgba(255, 255, 255, 0.6);
$shadow-main-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
$shadow-card-solid: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$shadow-filtr-button: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$work-list: #EEEEEE;
$line-header: #ECECEC;
$overlay-color: rgba(47, 48, 58, 0.4);
$border-client: #AFB1B8;
$footer-socsolid-main: rgba(255, 255, 255, 0.1);
$hero-bg: #C4C4C4;
$hover-overlay-blue: rgba(33, 150, 243, 0.9);
$shadow-portfolio-card: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
$transition-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$working-solid: rgba(47, 48, 58, 0.8);
$backdrop-color: rgba(0, 0, 0, 0.2);
$modal-bg-color: #FFFFFF;
$time-250: 250ms;
$border-btn: rgba(0, 0, 0, 0.1);
$input-footer: rgba(255, 255, 255, 0.3);
$input-modal: rgba(33, 33, 33, 0.2);
$textarea-modal: rgba(117, 117, 117, 0.5);